## Imports

In [1]:
# Install csv-diff specifically in the Jupyter Notebook environment
!{sys.executable} -m pip install csv-diff

zsh:1: parse error near `-m'

In [2]:
import requests
import pandas as pd
from csv_diff import load_csv, compare
from json import dumps, loads

ModuleNotFoundError: No module named 'csv_diff'

## Import two datasets, save as csv

In [3]:
api_url = 'http://4.225.195.101/factory/data-storage/factory-data-storage-api'
headers = {'Authorization': '3yF8!oNEzR2/bHDx*WU#F@^pLM9NQ$a6'}

In [4]:
# Get dataset 1
asset_uuid = "cee0090e-ae36-47f8-bd69-c86499cb3393"
data = {
"asset_uuid": asset_uuid
}
response = requests.get(f'{api_url}/api/tables/get_table', params=data, headers=headers)
print("RESPONSE: ", response)
print("Response message: ", response.text)

response = requests.get(f'{api_url}/api/tables/get_fields', params=data, headers=headers)
print("RESPONSE: ", response)
print("Response message: ", response.text)

RESPONSE:  <Response [503]>
Response message:  <html>
<head><title>503 Service Temporarily Unavailable</title></head>
<body>
<center><h1>503 Service Temporarily Unavailable</h1></center>
<hr><center>nginx</center>
</body>
</html>

RESPONSE:  <Response [503]>
Response message:  <html>
<head><title>503 Service Temporarily Unavailable</title></head>
<body>
<center><h1>503 Service Temporarily Unavailable</h1></center>
<hr><center>nginx</center>
</body>
</html>

In [5]:
dataset_1 = [
  {
    "data_model": {
      "columns": [
        {
          "name": "entry_id",
          "dataType": "Integer"
        },
        {
          "name": "age",
          "dataType": "Integer"
        },
        {
          "name": "name",
          "dataType": "String"
        },
        {
          "name": "sex",
          "dataType": "String"
        },
        {
          "name": "hiring_date",
          "dataType": "Date'"
        }
      ]
    },
    "data": {
      "rows": [
        [
          1,
          43,
          "Alice",
          "f",
          "2012.05.22"
        ],
        [
          2,
          40,
          "Bob",
          "m",
          "2008.05.22"
        ],
        [
          3,
          20,
          "Charlie",
          "m",
          "2009.04.21"
        ]
      ]
    }
  }
]

In [6]:
# Get dataset 2
asset_uuid = "ac51938f-9a2d-4216-b8d8-c7a0716e2387"
data = {
"asset_uuid": asset_uuid
}
response = requests.get(f'{api_url}/api/tables/get_table', params=data, headers=headers)
print("RESPONSE: ", response)
print("Response message: ", loads(response.text))
print("Response type: ", type(loads(response.text)))

RESPONSE:  <Response [503]>

NameError: name 'loads' is not defined

In [7]:
dataset_2 = [
  {
    "data_model": {
      "columns": [
        {
          "name": "entry_id",
          "dataType": "Integer"
        },
        {
          "name": "age",
          "dataType": "Integer"
        },
        {
          "name": "name",
          "dataType": "String"
        },
        {
          "name": "sex",
          "dataType": "String"
        },
        {
          "name": "hiring_date",
          "dataType": "Date'"
        }
      ]
    },
    "data": {
      "rows": [
        [
          1,
          42,
          "Bob",
          "m",
          "2008.05.22"
        ],
        [
          3,
          20,
          "Charlie",
          "m",
          "2009.04.21"
        ],
        [
          4,
          30,
          "Dana",
          "f",
          "2009.07.21"
        ],  
      ]
    }
  }
]

## Dataset to csv

In [10]:
# Convert dataset returned to csv file
def dataset_to_csv(dataset, filename):
    '''
    Converts dataset to csv file
    '''
    # Extract column names
    columns = [col["name"] for col in dataset[0]["data_model"]["columns"]]
    
    # Extract rows
    rows = dataset[0]["data"]["rows"]
    
    # Create a pandas DataFrame
    df = pd.DataFrame(rows, columns=columns)
    
    # Write DataFrame to CSV file
    df.to_csv(filename, index=False)

In [11]:
dataset_to_csv(dataset_1, "diff_csv/dataset_1.csv")
dataset_to_csv(dataset_2, "diff_csv/dataset_2.csv")

## Diff

In [32]:
diff = compare(
    load_csv(open("diff_csv/dataset_1.csv")),
    load_csv(open("diff_csv/dataset_2.csv"))
)
print("DIFF: ", diff)

DIFF:  {'added': [{'entry_id': '1', 'age': '42', 'name': 'Bob', 'sex': 'm', 'hiring_date': '2008.05.22'}], 'removed': [{'entry_id': '1', 'age': '43', 'name': 'Bob', 'sex': 'm', 'hiring_date': '2008.05.22'}], 'changed': [], 'columns_added': [], 'columns_removed': []}